html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="Salon für Zukunftswirtschaft, Bern, Effinger, ImpactHub, Wirtschaft, Zukunft, Nachhaltigkeit, Community, Entrepreneurship, Unternehmerin, Kreativität, Erfahrung, Austausch, Inspiration, Apéro")
    meta(name="description", content="Inspiration für eine lebensdienliche Wirtschaft - das ist der «Salon für Zukunftswirtschaft». In der bezaubernden Atmosphäre der Effinger Stadtwohnig, unter Begleitung eines exquisiten Apéros, treffen sich Unternehmer:innen, Kreative und Wissbegierige, um ihre Ansätze und Erfahrungen zu teilen.")
    title="Salon für Zukunftswirtschaft, Bern"
    link(rel="stylesheet", href="/style.css?v=" + version)
    script(defer=true, src="/js/alpine.js"+version)
  body
    block content
    