@font-face {
  font-family: "Abil Display";
  src: url("/fonts/abril-display-regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-light.otf") format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-black.otf") format("opentype");
  font-weight: 900; /* Black */
}
