@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

@layer base {
  :root {
    @apply font-sans text-white bg-pink;
  }
}

@layer utilities {
  .btn {
    @apply text-sm md:text-base px-4 rounded-lg text-white font-bold inline-block w-auto;
  }
  .btn-primary {
    @apply bg-pink btn py-2;
  }
  .btn-secondary {
    @apply btn bg-transparent border py-[7px] border-white;
  }
  .nav {
    @apply hover:scale-105 transition-all duration-150;
  }
  .bar {
    @apply w-8 h-1 bg-white rounded transition-all duration-150;
  }
  .footer-nav {
    @apply text-sm md:text-base text-white block hover:underline;
  }
  .burger {
    @apply flex flex-col gap-2 hover:gap-3 transition-all duration-150 -mt-4 -mr-2 p-4;
  }
  .icon {
    @apply w-12 sm:w-16 hover:rotate-12 scale-105 transition-all duration-150;
  }
  .mobile-nav {
    @apply md:hidden absolute top-0 bottom-0 right-0 left-1/4 bg-purple gap-4;
  }
}

@font-face {
  font-family: "Abil Display";
  src: url("/fonts/abril-display-regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-light.otf") format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/aktiv-grotesk-black.otf") format("opentype");
  font-weight: 900; /* Black */
}
